@import url('https://fonts.googleapis.com/css2?family=Benne:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Besley:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bayon:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Tera:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Satoshi+Variable:wght@900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bevan&display=swap');
